body {

  background-image: url("background/_MG_4244.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1{
    color: #fff;
}